################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApp1/bin/Debug/netcoreapp2.1
/ConsoleApp1/obj
