#---------------------------------#
#      general configuration      #
#---------------------------------#

# version format
version: 1.0.{build}

# you can use {branch} name in version format too
# version: 1.0.{build}-{branch}

# branches to build
branches:
  # whitelist
  only:
    - master

#---------------------------------#
#    environment configuration    #
#---------------------------------#

# Build worker image (VM template)
image: Visual Studio 2017

# scripts that are called at very beginning, before repo cloning
init:
  - git config --global core.autocrlf input

# clone directory
clone_folder: c:\projects\alok-test-proj

# fetch repository as zip archive
shallow_clone: true                 # default is "false"

# set clone depth
clone_depth: 5                      # clone entire repository history if not defined

# environment variables
environment:
  Output_File_Name: WriteLines.txt
  SolutionName: AppVeyor-Test
  ProjectName: ConsoleApp1
  config: Debug
  

#---------------------------------#
#       build configuration       #
#---------------------------------#

# build platform, i.e. x86, x64, Any CPU. This setting is optional.
platform: Any CPU

# to add several platforms to build matrix:
#platform:
#  - x86
#  - Any CPU


# to add several configurations to build matrix:
#configuration:
#  - Debug
#  - Release


  # MSBuild verbosity level
  #verbosity: minimal 
  # quiet|minimal|normal|detailed


# scripts to run before build
before_build:
 # Display .NET Core version
    - ps: echo Starting build process..
    - ps: dotnet --info 
    #- ps: cd $env:SolutionName
# to run your custom scripts instead of automatic MSBuild
build_script:
 - ps: dotnet build -v:m ./$env:SolutionName.sln
# scripts to run after build (working directory and environment changes are persisted from the previous steps)
after_build:
 - ps: cd $(ProjectName)\bin\$(config)\netcoreapp2.1
 - ps: dotnet ./$env:ProjectName.dll
 - ps: ls
# scripts to run *after* solution is built and *before* automatic packaging occurs (web apps, NuGet packages, Azure Cloud Services)
before_package:

# to disable automatic builds
#build: off

#---------------------------------#
#      artifacts configuration    #
#---------------------------------#

artifacts:

  # pushing a single file with environment variable in path and "Deployment name" specified
  - path: $(ProjectName)\bin\$(config)\netcoreapp2.1\
    name: ARTIFACT_ALOK_TEST_

